@import "tailwindcss";

body {
  font-family: 'Times New Roman', Times, serif;
  margin: 20px;
  color: white;
  height: 1800px;
  background-color: black;
  background-size: contain;
  background-image: url("ship.jpeg");
  background-repeat: no-repeat;
}

.title{
  text-align: center;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  padding-top: 75px;
  padding-bottom: 10px;
  letter-spacing: 10px;
}

.subheading{
  text-align: center;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  letter-spacing: 3px;
}

|Header {
  align-items: center;
  border: 2px solid black;
}
h3 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  letter-spacing: 3px;
  margin-top: 530px;

}

h4 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  letter-spacing: 3px;
  margin-top: 70px;
  text-align: right;
  margin-right: 30px;

}
.chat-frame {
  border: 30px solid transparent; 
  border-image: url('pattern.jpg') 40 stretch; 
  border-image-slice: 40; 
  width: 1000px;
  margin: 10px auto;
  padding: 10px;
  background: #fff; 
  margin: 70px auto 0 auto;
  opacity: 1;

}

.chat-container {
  padding: 4px;
  border: 4px solid black;
}

.buttons{
  margin-top: 70px;
}